[defaults]
inventory        = inventory/production
roles_path       = roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
retry_files_enabled = False
stdout_callback  = yaml
nocows           = 1
interpreter_python = auto_silent

[inventory]
enable_plugins = yaml, ini
